<!DOCTYPE html>
  <html>
    <head>
      {{ content_for_header }}

      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/destyle.css@1.0.15/destyle.css"/>
      {{ 'header.css' | asset_url | stylesheet_tag }}
      {{ 'main.js' | asset_url | script_tag }}
    </head>
  
    <body>
      {{ content_for_layout }}
    </body>
  </html>