<div class="swiper-container">
  <div class="swiper-wrapper">
    <!-- スライド -->
    <div class="swiper-slide">
      <a href="/link1">
        <img src="{{ settings.slider_image_1 | file_url }}" alt="スライド1">
      </a>
    </div>
    <div class="swiper-slide">
      <a href="/link2">
        <img src="{{ settings.slider_image_2 | file_url }}" alt="スライド2">
      </a>
    </div>
    <div class="swiper-slide">
      <a href="/link3">
        <img src="{{ settings.slider_image_3 | file_url }}" alt="スライド3">
      </a>
    </div>
    <div class="swiper-slide">
      <a href="/link3">
        <img src="{{ settings.slider_image_4 | file_url }}" alt="スライド4">
      </a>
    </div>
  </div>
  <!-- ドットナビゲーション -->
  <div class="swiper-pagination"></div>
</div>
