{% style %}
  header {
    background-color: {{ section.settings.background_color | default: "#fff" }}
  }
{% endstyle %}
<header>
  <div class="header_wrap">
    <div class="logotype">
      <img src="{{ 'kaguya_logo.webp' | asset_url }}" alt="kaguya logo">
    </div>
    <nav>
      <a href="/">
        <img src="{{ 'person_icon.png' | asset_url }}" alt="会員情報" class="nav_img">
      </a>
      <a href="/">
        <img src="{{ 'cart_icon.png' | asset_url }}" alt="カート情報" class="nav_img cart">
      </a>
      <input id="menu__toggle" type="checkbox" class="toggle">
      <label class="menu__btn" for="menu__toggle">
        <span></span>
      </label>
      <ul class="menu__box">
        <li><a class="menu__item" href="#">Home</a></li>
        <li><a class="menu__item" href="#">Services</a></li>
        <li><a class="menu__item" href="#">Portfolio</a></li>
        <li><a class="menu__item" href="#">About</a></li>
        <li><a class="menu__item" href="#">Contact</a></li>
      </ul>
    </nav>
  </div>
</header>

{% schema %}
{
  "name": "ヘッダー",
  "settings": [
    {
      "type": "color",
      "id": "background_color",
      "label": "背景色",
    },
    
  ]
}
{% endschema %}