{% style %}
  .index_search_contents {
    max-width: 550px;
    margin: 0 auto;
    padding: 3rem 0 5rem;
  }
  
  .index_search_form {
    display: flex;
    justify-content: center;
  } 
  
  .index_search_input {
    flex-basis: 75%;
    border: solid 1px #dedede;
    border-radius: 10px;
    padding: 10px;
    font-size: 16px;
  }
  
  .index_search_button {
    color: #fff;
    background-color: #333;
    border-radius: 5px;
    font-size: 16px;
    padding: 5px 10px;
    margin-left: 1em;
  }
  
  .index_search_input::placeholder {
    color: #999;
  }
  
  @media screen and (max-width: 768px) {
  .index_search_button, .index_search_input {
      font-size: 14px!important;
    }
  }

  .k-bgClr--white01 {
    background: #fff;
  }
{% endstyle %}

<section class="k-bgClr--white01">
  <div id="index_search" class="page-width">
      <div class="index_search_contents">
          <div class="search_form_feild index_search_field">
          <form action="{{ routes.search_url }}" method="get" role="search" class="search search-modal__form index_search_form">
              <input type="search" class="index_search_input" name="q" autocomplete="off" autocorrect="off" autocapitalize="off" aria-label="{{ 'search.general.input_placeholder' | t }}" placeholder="product search" autofocus>
              <input type="hidden" name="type" value="product">
              <button class="index_search_button" data-action="search" aria-label="{{ 'header.navigation.close_search' | t }}">Go</button>
          </form>
          </div> 
      </div>
  </div>
</section>
  
  {% schema %}
  {
    "name": "検索",
    "limit": 1,
    "settings": [
    ],
    "presets": [
     {
       "name": "検索",
       "category": "Sections"
     }
   ]
  }
  {% endschema %}